/* ==========================================================================
	Global Settings
========================================================================== */

/*
* Boxsizing set to border box http://css-tricks.com/box-sizing/
*/

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* Body settings, change it as required
*/

body { font-family: 'Hind Siliguri',Arial, Helvetica, sans-serif; font-size: 1em; line-height: 1.4; margin: 0px;}


/*
* Headings
*/

h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu', Arial, Helvetica, sans-serif; font-weight:bold; text-rendering: optimizeLegibility; margin-top:0px; }


/*
* Paragraphs
*/

p { font-weight: normal; margin-top:0px; }


/*
* Links
*/

a { color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover { /*color: #2795b6;*/ }
a:focus { color: #2ba6cb; outline: none; }
p a, p a:visited { line-height: inherit; }


/*
* A better looking default horizontal rule
*/

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/
img {
    vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic;
}


/*
* Remove default fieldset styles.
*/

fieldset { border: 0; margin: 0; padding: 0; }


/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}


/* ==========================================================================
	Helper classes
========================================================================== */

/*
* Floats
*/

.left { float: left; }

.right { float: right; }


/*
* Text Alignment
*/

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }


/*
* Image Alignment
*/

img.alignleft { float:left; margin:0 10px 10px 0; display: inline;}

img.alignright { float:right; margin:0 0px 10px 10px; display: inline;}

img.aligncenter { display:block; margin-left:auto; margin-right:auto; margin-bottom:10px;}


/*
* Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*/

/*
* More semantic version as described in http://css-tricks.com/snippets/css/clear-fix/
*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
* overflow method for clearing floats
*/
.floatbox { overflow:hidden; }

/*
* older method of adding empty tags for clearing
*/
.clear { clear: both; height:1px; line-height:1px; }


/*
* Chromeframe
*/
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/*
* Other
*/


/* ==========================================================================
	Layout
========================================================================== */

.global_sprite {
    background-image: url("../images/global-sprite.png")
}

/* Container ---------------------- */
#container {  }

.row {
    display: flex;
}

#topbar {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #DAE0E4;
    padding-bottom: 5px;
    z-index: 100;
}
#topbar ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topbar ul li {
    font-size: 13px;
    font-weight: 600;
    padding: 0px 10px;
}
#topbar > ul > li {
    border-right: 1px solid #51626f;
    padding: 10px 10px 5px;
}
#topbar ul li a {
    color: #51626f;
}
#topbar ul li a span {
    display: inline-block;
    margin-right: 10px;
}

/* Header ---------------------- */
#header {
    position: fixed;
    width: 100%;
    top: 38px;
    z-index: 100;
    background-color: #001036;
}
#header a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
#header .logo a {
    display: block;
    padding: 16px 20px;
}
#header .row {
    justify-content: space-between;
}
#header .logo .logo-image {
    height: 50px;
    width: 138px;
    background-position: -246px -836px;
}

#header .about_icc {
    margin-left: -34px;
    border-left: 1px solid #51626f;
}
#header .about_icc a {
    display: block;
    padding: 32px 30px;
}

#header .search a{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    padding: 30px;
}
#header .search a span {
    display: inline-block;
    margin-left: 10px;
}
#header .search a i {
    font-size: 20px;
}

@media(max-width:1200px) {
    #header a {
        font-size: 12px;
    }
    #header .about_icc a {
        padding: 23px 30px;
    }
    #header .search a {
        padding: 20px 30px;
    }
    #header .logo .logo-image {
        width: 79px;
        height: 29px;
        background-position: -1018px -778px;
    }    
}
@media(max-width:992px) {
    #header .about_icc, #header .search {
        display: none;
    }
}

/* Main Navigation ---------------------- */
#main-navigation{
    margin-left: -77px;
 }
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
#main-navigation ul li {
    padding: 30px;
    position: relative;
}
#main-navigation ul li:hover a{
    color: #16d9f9;
}
#main-navigation ul li:after {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: #fff transparent transparent;
    right: 10px;
    top: 48%;
}
#main-navigation ul li:hover:after {
    border-top-color: #16d9f9;
}

#main-navigation .dropdown {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    width: 630px;
    top: 83px;
    left: -240px;
    padding: 15px 0px;
    display: none;
}
#main-navigation .dropdown ul{
    display: block;
    column-count: 2;
}
#main-navigation .dropdown .col {
    padding: 0px 12px;
}
#main-navigation .dropdown ul li {
    padding: 0px;
}
#main-navigation .dropdown ul li a {
    color: #087ac0;
}
#main-navigation .dropdown ul li:after {
    display: none;
}
#main-navigation .dropdown:before {
    content: "";
    position: absolute;
    border: 10px solid #fff;
    border-color: transparent transparent #fff;
    width: 10px;
    top: -18px;
    left: 50%;
    margin-left: -10px;
}

@media(max-width:1200px) {
    #main-navigation ul li {
        padding: 20px;
    }
}
@media(max-width:992px) {
    #main-navigation ul {
        display: none;
    }
}

.sidebar_link {
    display: block;
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 50px;
    display: none;
}
@media(max-width: 992px){
    .sidebar_link {
        display: block;
    }
}

/* Banner ---------------------- */
#banner{ }

/* Content ---------------------- */
#content {  
    margin-top: 120px;
}

/* Main ---------------------- */
#main { 
    width: 65%;
 }

 @media(max-width: 992px){
     #main {
         width: 100%;
     }
 }

/* Sidebar ---------------------- */
#sidebar { }

/* Footer ---------------------- */
#footer { }


/* ==========================================================================
	Common Functionalities & UI Elements
========================================================================== */

/* Section_1 */
#section_1 {
    padding: 50px 0px;
}
#section_1 .news {
    background-color: #2F3133;
    width: 450px;
    padding: 0px 15px;
}
#section_1 .news_link {
    display: block;
    color: #fff;
}
#section_1 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#section_1 ul li {
    display: inline-block;
}
#section_1 ul li a {
    display: block;
    padding: 12px;
    color: #a3a4a5;
}
#section_1 .news_wrapper {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
#section_1 .image_container {
    position: relative;
    overflow: hidden;
}
#section_1 .image_container img {
    transition: 15s;
    width: 100%;
}
#section_1 .image_container:hover img {
    transform: scale(1.2,1.2);
}
#section_1 .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* background-color: lightblue; */
    background: linear-gradient(to bottom,transparent 30%,rgba(0,0,0,.7) 100%);
}
#section_1 .description {
    position: absolute;
    bottom: 20px;
    left: 40px;
}   
#section_1 .description h3 {
    font-size: 13px;
    margin-bottom: 2px;
}
#section_1 .description h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
}

#section_1 .recent_news {
    padding: 20px 0px 0px 20px;
}
#section_1 .recent_news .image {
    margin-bottom: 12px;
}
#section_1 .recent_news .image img {
    width: 100%;
}
#section_1 .recent_news a {
    color: #000;
    padding: 0px;
}
#section_1 .recent_news ul {
    display: flex;
    justify-content: space-between;
}
#section_1 .recent_news ul li{
    display: block;
}
#section_1 .recent_news ul li:nth-child(2) {
    margin: 0px 20px;
}
#section_1 .recent_news h4 {
    font-size: 12px;
    margin: 0px;
}
#section_1 .recent_news h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}
#section_1 .recent_news  span {
    font-size: 12px;
}


#sidebar {
    position: fixed;
    top: 120px;
    background-color: #2f3133;
    right: 0px;
    width: 32%;
    transition: 1s;
}
#sidebar .widgets {
    height: 380px;
    overflow-y: scroll;
}
#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#sidebar .sidebar_header {
    /* position: fixed; */
    width: 100%;
    top: 0px;
    padding: 20px 0px;
    text-align: center;
    z-index: 1000;
}
#sidebar .sidebar_header h2 {
    color: #F4BC46;
    text-transform: uppercase;
    font-size: 20px;
}
#sidebar .image_container img {
    width: 100%;
}
#sidebar .widgets ul li {
    background-color: #333437;
    padding: 20px 15px;
}

@media(max-width: 992px){
    #sidebar {
        right: -100%;
    }
    #sidebar:target {
        right: 0%;
    }
}